<footer class="site-footer">
		<div class="wrapper">
			<div class="widget-flex">
				<div class="footer-text flex-item">
					<p>© 2016 Persona — Portfolio Template.</p>
				</div>
				<div class="footer-social flex-item">
					<nav class="widget-nav-social">
						<ul>
							<li><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							<li><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" target="_blank"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
							<li><a href="#" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
							<li><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</footer>
