<main class="site-main">
    <article>
        <!-- Page Header -->
        <header class="page-header">
            <div class="wrapper">
                <h1>About</h1>
                <h2>I'm a monster. Okay, I like a challenge.</h2>
            </div>
        </header>
        <!-- Page Header End -->

        <!-- Page Content -->
        <div class="wrapper">
            <div class="row">
                <div class="col-md-5">
                    <img src="assets/img/p14.jpg" alt="About Photo" class="img-full">
                    <!-- Mobile Space -->
                    <div class="mobile-space"></div>
                    <!-- Mobile Space End -->
                </div>
                <div class="col-md-7 align-justify">
                    <h2>About me</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed sem sed augue consequat posuere. Morbi vel mi tempus, vulputate turpis finibus, hendrerit massa. Nunc condimentum sodales ultricies. Mauris nec enim ut nisl bibendum
                        tincidunt et vitae lacus. Nullam faucibus ante felis, sit amet gravida tortor ornare nec.</p>
                    <p>Pellentesque non odio condimentum, blandit metus dignissim, vestibulum purus. Mauris ut nisl et felis malesuada mollis. Sed leo nunc, consequat ac turpis ut, volutpat lobortis purus. Nullam risus quam, dignissim nec nulla a, accumsan
                        iaculis turpis. Integer dictum arcu diam, vitae lacinia nunc porttitor vel.</p>
                    <p> Maecenas est justo, faucibus non commodo et, ornare ut magna. Donec ligula tellus, cursus in diam in, accumsan ullamcorper lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce ornare
                        tempus ipsum. Curabitur non erat ac ante dictum porta id et eros. Suspendisse potenti.</p>
                </div>
            </div>
        </div>
        <!-- Page Content End-->
    </article>
</main>